.cd-container
  margin 0
  padding 0
.scroller::before, .scroller::after
  content ''
  position fixed
  width 89.8%
  max-width 1170px
  left 0
  right auto
  -webkit-transform translateX(-50%)
  -moz-transform translateX(-50%)
  -ms-transform translateX(-50%)
  -o-transform translateX(-50%)
  transform translateX(-50%)
  height 50%
  z-index -1

.scroller::before
  top 0
  background-color teal
  -webkit-transition all 0.8s
  -moz-transition all 0.8s
  transition all 0.8s

.cd-service
  position relative
  z-index 2
  min-height 50px
  margin-left 56px
  background-color #333
  padding 1em 1em 4em
  &::before
    top 0
    height 50px
    background-repeat no-repeat
  &::after
    top 50px
    bottom 0
    background-image url("../images/cd-pattern-small.svg")
    background-repeat repeat-y
  &.cd-service-divider
    &::after
      top 0
    &:last-child
      display none
  &.cd-service-1
    &::before
      background-image url("../images/cd-icon-1-small.svg")
  &.cd-service-2
    &::before
      background-image url("../images/cd-icon-2-small.svg")
  &.cd-service-3
    &::before
      background-image url("../images/cd-icon-3-small.svg")
  &.cd-service-4
    &::before
      background-image url("../images/cd-icon-4-small.svg")
  h2
    text-transform uppercase
    margin-bottom 1em
  p
    font-size 14px
    font-size 0.875rem
    line-height 1.4
    a
      color #aaa
      border-bottom 1px dotted #aaa
      &:hover
        color #ccc

.cd-service::before, .cd-service::after
  content ''
  position absolute
  width 56px
  right 100%
  z-index 2

@media only screen and (min-width: 1170px)
  .cd-service
    // min-height 525px
    margin-left 420px
    padding 6em 2em
    &::before
      height 325px
    &::after
      top 325px
      background-image url("../images/cd-pattern-large.svg")
    &.cd-service-divider
      &:last-child
        display block
    &.cd-service-1
      &::before
        background-image url("../images/cd-icon-1-large.svg")
    &.cd-service-2
      &::before
        background-image url("../images/cd-icon-2-large.svg")
    &.cd-service-3
      &::before
        background-image url("../images/cd-icon-3-large.svg")
    &.cd-service-4
      &::before
        background-image url("../images/cd-icon-4-large.svg")
    h2
      font-size 30px
      font-size 1.875rem
    p
      font-size 18px
      font-size 1.125rem
      line-height 1.6

  .cd-service::before, .cd-service::after
    width 420px

  .cd-service.cd-service-divider:first-child, .cd-service.cd-service-divider:last-child
    min-height 50px
    padding 0

  .cd-service h2, .cd-service p
    -webkit-transition color, 0.5s
    -moz-transition color, 0.5s
    transition color, 0.5s

