@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)
@import 'normalize'
@import 'clearfix'
@import 'jeet'

@import 'variables'

body
	color white
	font-family 'Josefin Sans', sans-serif
.page

	
.content
	
.head-content
	background url("../images/header-bg.jpg")
	background-size 100%
	background-size cover
	height 450px
	height 80vh

.header
	center(1000px)

.logo-container
	col(.7/3)
	clearfix()
	margin-left 9%

.nav
	col(1.65/3)
	clearfix()
	float right
.top-nav
	margin 3rem 0
					
.top-nav-li
	display inline
	margin 0 0.5rem
	a
		padding 1rem 
		background rgba(0,0,0, 0.5)
		color white
		text-decoration none
		&:hover
			background rgba(0,0,0, 0.6)
.wrap
	center(800px)
	text-align center
.main-desc
	background rgba(0,0,0, 0.3)
	text-shadow 1px 1px 1px #999
	padding 1rem 5rem
	margin 1rem 0
	letter-spacing .05rem
	&:hover
		background rgba(0,0,0, 0.35)
	h1
		border-bottom 1px dotted #fff
		display inline-block
	p
		// text-shadow 1px 1px 1px #eee