@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)
@import 'jeet'
@import 'rupture'

@import 'normalize'
@import 'clearfix'
@import 'variables'
@import 'tabs'
@import 'scroll'
@import 'form'
@import 'gradient'

body
	color white
	font-family 'Josefin Sans', sans-serif
a
	text-decoration none
	color #fff
li
	list-style none
.page

	
.content
	
.head-content
	background url("../images/header-bg.jpg")
	background-size 100%
	background-size cover
	height 450px
	height 80vh

.header
	center(1000px)

.logo-container
	col(.7/3)
	clearfix()
	margin-left 9%
	padding-top 1.5rem
.nav
	col(1.66/3)
	clearfix()
	float right
	.ham
		display none
		+below(800px)
			display block
			float right
			margin 2.5rem 4rem
			cursor pointer
			border 1px solid #333
			border-radius 3px 3px 3px 3px
			cursor pointer
			display block
			height 45px
			position relative
			width 40px
			background #333
			&:hover
				background #111
			+below(480px)
				margin 2rem 2rem
				
			div
				background-color #999
				border-radius 2px 2px 2px 2px
				height 4px
				margin .5rem 0
				width 70%
				margin-left auto
				margin-right auto
.top-nav
	margin 3rem 0
	+below(800px)
		display none
		position absolute
		right 6.5rem
		top 5.5rem
		margin 0
		width 77%
		transition()
		+below(490px)
			right 4.5rem
			top 5rem
.active
	border 1px solid teal-2
.top-nav-li
	display inline
	margin 0 0.5rem
	+below(800px)
		display block
		width 100%
	a
		padding 1rem 
		background rgba(0,0,0, 0.5)
		border 1px solid rgba(0,0,0, 0.5)
		color white
		text-decoration none
		width 100%
		&:hover
			background rgba(0,0,0, 0.6)
			border-bottom 1px solid teal
		+below(800px)
			display block
.wrap
	center(800px)
	text-align center
.main-desc
	background rgba(0,0,0, 0.3)
	text-shadow 1px 1px 1px #999
	padding 1rem 5rem
	margin 1rem 0
	letter-spacing .05rem
	&:hover
		background rgba(0,0,0, 0.35)
	h1
		border-bottom 1px dotted #fff
		display inline-block
	p
		// text-shadow 1px 1px 1px #eee
.tab-content
	background teal
	clearfix()
.tabs-logo
	col(1/3)
.form-container
	background #333
	margin 0 auto
	clearfix()
	.sidebar
		col(.98/3)
		// width 355px
		height 100%
		// background linear-gradient(180deg, teal 38%, #111 30%)
		background teal
		padding 1rem
		text-align justify
		+between(320px, 800px)
			col(1/1)
			text-align center
			padding 0
			img
				width 100px
		.form-div, .faq-div
			text-align center
		h2
			text-align center
		img
			display block
			margin 0 auto
		.location-div-text
			text-align center
	// .sidebar-3
	// 	col(.906/3)
	// 	background #111
	// 	clearfix()
	.form-wrap
		col(1.7/3)
		margin 0 auto
		+below(800px)
			col(1/1)
			input, textarea
				width 85%
				+below(480px)
					width 80%
.footer
	width 100%
	background teal
	padding 4rem 0 0
	clearfix()
	nav
		center(320px)
		.footer-ul
			display inline-block
			margin 0
			padding 0
			li
				float left
				padding 0 1rem
	span
		display block
		text-align center
		margin 3rem 0
		
@import 'faq'